<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning_plans</title>
    <link rel = stylesheet href = {% static 'css/learning_plans/base.css' %}>
    <style>

    </style>
</head>
<body>
    {% comment %} <p>
        <a href = "{% url 'learning_plans:index' %}">Learning plans</a> -
    </p> {% endcomment %}

    <h1 style="color: blueviolet;">主页</h1>
</body>
</html>

{% block content %} {% endblock content %}