{% extends 'learning_logs/base.html' %}

{% block content1 %}

    <head>
        <title>主题</title>
    </head>

    <h1 style = "color:rgba(0,0,0,0.8)">Topics</h1>

    <ul>
        {% for topic in topics %}
            <li>
                <a href = {% url 'learning_logs:topic' topic.id %} style = "font-size:20px;">{{ topic.text }}</a>
            </li>
        {% empty %}
            <li>No topics have been added yet.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'learning_logs:new_topic' %}">Add a new topic</a>

{% endblock content1 %}

{% block content2 %}
    -<a href = "{% url 'learning_logs:topics' %}"> topics</a>
{% endblock content2 %}